<h2>Detail Hewan</h2>
<p><strong>Nama:</strong> <%= hewan.nama_hewan %></p>
<p><strong>Jenis:</strong> <%= hewan.jenis_hewan %></p>
<p><strong>Tgl Lahir:</strong> <%= hewan.tanggal_lahir_hewan %></p>
<p><strong>Owner:</strong> <%= hewan.nama_customer %></p>
<a href="/hewans">Kembali</a>
