<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Petshop</title>
  <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
/>

  <%- include('partials/nav') %>
  <div class="container">
    <% if (error_msg && error_msg.length > 0) { %>
      <div class="popup error"><%= error_msg %></div>
    <% } %>
    <% if (success_msg && success_msg.length > 0) { %>
      <div class="popup success"><%= success_msg %></div>
    <% } %>
    <%- body %>
  </div>
  <script src="/public/js/main.js"></script>
</body>
</html>
