<h2>Detail Customer</h2>
<p><strong>Nama:</strong> <%= customer.nama_customer %></p>
<p><strong>Alamat:</strong> <%= customer.alamat_customer %></p>
<p><strong>Tgl Lahir:</strong> <%= customer.tanggal_lahir_customer %></p>
<p><strong>No Telp:</strong> <%= customer.no_telp_customer %></p>
<a href="/customers">Kembali</a>
